{% extends 'base.html' %}



{% block content %}

<!-- ========== PAGE TITLE ========== -->
<div class="page-title gradient-overlay op6" style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat;
    background-size: cover;">
  <div class="container">
    <div class="inner">
      <h1>ABOUT HIMARA HOTEL</h1>
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>About Himara Hotel</li>
      </ol>
    </div>
  </div>
</div>
<!-- ========== MAIN ========== -->
<main class="contact-page">
  <div class="container">
    <div class="entry">
      <div class="row">


        {% for about in aboutus %}
        <div class="col-md-8">
          <div class="section-title">
            <h4 class="text-uppercase">{{ about.title }}</h4>
            <p class="section-subtitle">{{ about.description |safe }}</p>
          </div>
          <div class="info-branding">
            <p>{{ about.text | safe }}</p>
            <div class="providers">
              <span>Recommended on:</span>


              {% for company in recommended_company %}
              <div class="item">
                <a href="#">
                  <img src="{{ company.image.url }}" alt="Image" style="width: 50px;">
                </a>
              </div>
              {% endfor %}

              <!-- ITEM -->


            </div>
          </div>
        </div>
        {% endfor %}



      </div>
      <h4 class="text-uppercase mt40 mb20">Features</h4>
      <div class="row">


        {% for features in aboutus_features %}
        <!-- ITEM -->
        <div class="col-md-3 col-6">
          <div class="countup-box box-shadow-005">
            <i class="{{ features.icon }}"></i>
            <span class="number" data-count="{{ features.number }}"></span>
            <div class="text">{{ features.name }}</div>
          </div>
        </div>
        {% endfor %}



      </div>

      <h4 class="text-uppercase mt40 mb20">Services</h4>
      <div class="image-gallery">
        <div class="row">

          {% for images in image_aboutus %}
          <!-- ITEM -->
          <div class="col-md-3">
            <figure class="gradient-overlay-hover image-icon">
              <a href="{{ images.image.url }}"><img src="{{ images.image.url }}" alt="Image" class="img-fluid"></a>
            </figure>
          </div>
          {% endfor %}



        </div>
      </div>

      <h4 class="text-uppercase mt40 mb20">LICENSE</h4>
      <div class="row mb40">

        {% for lic in license %}
        <!-- ITEM -->
        <div class="col-md-4">
          <div class="award-item">
            <figure>
              <img src="{{ lic.image }}" class="img-fluid" alt="Image">
              <figcaption>
                {{ lic.title }}
              </figcaption>
            </figure>
          </div>
        </div>
        {% endfor %}



      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta cumque nobis fugit voluptatibus maiores, amet
        nemo distinctio cupiditate totam porro animi pariatur ipsa nihil debitis, officia perferendis at natus dolorem
        similique. Consequatur id
        eius ipsa ut debitis adipisci praesentium architecto facilis, dignissimos quibusdam iste tenetur beatae ab
        accusamus, omnis ullam cum assumenda distinctio accusantium perferendis nostrum fugiat sapiente blanditiis
        mollitia! Incidunt ea aliquid aut,
        hic esse, dolor veniam, magnam quam dolorem ipsa aspernatur fugit maiores ipsum omnis impedit consectetur.
        Delectus officia ullam numquam voluptatum necessitatibus quos alias nihil doloribus labore. Illo vero quam
        placeat, natus numquam officiis
        facere, libero quae.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fugiat earum doloribus eum atque nesciunt
        ut consequatur distinctio, ipsum ex, laudantium voluptatum modi alias! Est explicabo id, quo distinctio.
        Repudiandae, consequuntur veniam
        provident. Voluptates quidem doloremque repudiandae accusantium molestiae animi optio quisquam vitae veniam hic
        eos fuga, sit id beatae, necessitatibus eligendi maxime eaque ea nostrum. Debitis, suscipit, totam iste
        perspiciatis, nostrum similique
        incidunt enim culpa fugiat esse quae. Alias iste porro veniam, eius, sit velit dignissimos asperiores ipsam
        magni aut deserunt ullam quod aspernatur assumenda a illo eum cum expedita, maiores vero consequatur obcaecati
        tempora impedit architecto
        sequi! Nobis tempore, fuga id expedita possimus, accusantium doloremque atque fugit repellat laudantium
        quibusdam officiis quisquam praesentium facere? Voluptatibus commodi tempore quae modi sint reiciendis eum
        sapiente minus, accusantium quasi
        ratione aliquam blanditiis mollitia id rerum fuga sunt animi odio distinctio voluptatem maiores et dicta
        corporis! Esse atque harum voluptatem quo, error.
      </p>
    </div>
  </div>
</main>

{% endblock content %}