asgiref
Django
django-admin-thumbnails
django-ckeditor
django-crispy-forms
django-environ
django-js-asset
django-modeltranslation
django-mptt
docopt
environs
generics
gitignore
gunicorn
marshmallow
Pillow
psycopg2-binary
python-dotenv
python-gettext
pytz
six
slug
sqlparse
whitenoise