{% extends 'base.html' %}




{% block content %}


      <!-- ========== REVOLUTION SLIDER ========== -->
      <div id="rev-slider-spa" class="rev_slider gradient-slider" data-version="5.4.5">
        <ul>
          <!-- SLIDE -->
          <li data-transition="fade">
            <!-- MAIN IMAGE -->
            <img src="{{ spa.image.url }}" alt="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina="data-no-retina">
            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption"
              data-x="['center','center','center','center']"
              data-hoffset=""
              data-y="['middle','middle','middle','middle']"
              data-voffset=""
              data-responsive_offset="on"
              data-fontsize="['40','32','28','22']"
              data-lineheight="['40','32','28','22']"
              data-whitespace="nowrap"
              data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
              style="color: #fff; font-weight: 700; font-family: 'Raleway', sans-serif;">{{ spa.title }}
            </div>
          </li>
        </ul>
      </div>
      <!-- ========== MAIN ========== -->
      <main>
        <div class="container">
          <div class="entry">


            <p>
             {{ spa.text | safe }}
            </p>

            <div class="row image-gallery">

              
              
              {% for images in image_spa %}
                
              
                
                
                  <div class="col-md-3">
                    <figure class="gradient-overlay-hover image-icon">
                      <a href="{{ images.image.url }}">
                        <img src="{{ images.image.url }}" class="img-fluid" alt="Image">
                      </a>
                    </figure>
                  </div>


                {% endfor %}

             



            </div>

          
           
            
          </div>
        </div>
      </main>
  
{% endblock content %}
  