{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="page-title gradient-overlay op5" style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="inner">
            <h1>SINGLE ROOM</h1>
            <div class="room-details-price">
                € {{ room_page.price }} / NIGHT
            </div>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="index.html">Rooms</a>
                </li>
                <li>Single Room</li>
            </ol>
        </div>
    </div>
</div>

<main class="room">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">

                <div class="room-slider">
                    <div id="room-main-image" class="owl-carousel image-gallery">

                        
                        {% for image in images %}
                            
                        
                            
                        <div class="item">
                            <figure class="gradient-overlay-hover image-icon">
                                <a href="{{ image.image.url }}">
                                    <img class="img-fluid" src="{{ image.image.url }}" alt="Image">
                                </a>
                            </figure>
                        </div>

                        {% endfor %}
                    </div>
                    <div id="room-thumbs" class="room-thumbs owl-carousel">
                        
                        {% for image in images %}
                            <div class="item"><img class="img-fluid" src="{{ image.image.url }}" alt="Image">
                            </div>
                        {% endfor %}
                            
                      


                    </div>
                </div>
                <p class="dropcap">
                    {{ room_page.text|safe }}
                    

                </p>
                <div class="section-title sm">
                    <h4>ROOM SERVICES</h4>
                    <p class="section-subtitle">Single Room Includes</p>
                </div>
                <div class="room-services-list">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="list-unstyled">

                                
                                {% for room_service in room_services %}
                                    <li>
                                        <i class="{{ room_service.icon }}"></i>{{ room_service.title }}
                                    </li>
                                {% endfor %}


                                
                                    
                                
                            </ul>
                        </div>
                    </div>
                </div>


                <div id="room-reviews" class="room-reviews">
                    <div class="section-title sm">
                        <h4>ROOM REVIEWS</h4>
                        
                    
                    </div>

                    <div class="room-rating">
                        
                        
                        <div class="rating-details">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="review-summary">
                                        <div class="average">{{ room_page.avaregereview|floatformat:1 }}</div>
                                        <div class=" rating">
                                            <div class="room-star">
                                                <i class="fa fa-star{% if room_page.avaregereview < 1 and room_page.avaregereview > 0 %}-half-empty  {% elif room_page.avaregereview < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if room_page.avaregereview < 2 and room_page.avaregereview > 1 %}-half-empty  {% elif room_page.avaregereview < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if room_page.avaregereview < 3 and room_page.avaregereview > 2 %}-half-empty  {% elif room_page.avaregereview < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if room_page.avaregereview < 4 and room_page.avaregereview > 3 %}-half-empty  {% elif room_page.avaregereview < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if room_page.avaregereview < 5 and room_page.avaregereview > 4 %}-half-empty  {% elif room_page.avaregereview < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                            </div>
                                            
                                        </div>
                                        
                                        <small>umimiy rating</small>
                                        
                                    </div>
                                </div>


                                <div class="col-lg-9">

                                    
                                    
                                        
                                    
                                        
                                    <!-- ITEM -->
                                    <div class="progress-item">
                                      <div class="row">
                                        <div class="col-lg-2 col-sm-2 col-3">
                                          <div class="progress-stars">5 star </div>
                                        </div>
                                        <div class="col-lg-9 col-sm-9 col-8">
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" data-value="{{ room_page.countof5star }}"  aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1 col-1">
                                          <div class="progress-value">{{ room_page.countof5star }}%</div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- ITEM -->
                                    <div class="progress-item">
                                      <div class="row">
                                        <div class="col-lg-2 col-sm-2 col-3">
                                          <div class="progress-stars">4 star</div>
                                        </div>
                                        <div class="col-lg-9 col-sm-9 col-8">
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" data-value="{{ room_page.countof4star }}"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1 col-1">
                                          <div class="progress-value">{{ room_page.countof4star }}%</div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- ITEM -->
                                    <div class="progress-item">
                                      <div class="row">
                                        <div class="col-lg-2 col-sm-2 col-3">
                                          <div class="progress-stars">3 star</div>
                                        </div>
                                        <div class="col-lg-9 col-sm-2 col-8">
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" data-value="{{ room_page.countof3star }}"  aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1 col-1">
                                          <div class="progress-value">{{ room_page.countof3star }}%</div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- ITEM -->
                                    <div class="progress-item">
                                      <div class="row">
                                        <div class="col-lg-2 col-sm-2 col-3">
                                          <div class="progress-stars">2 star</div>
                                        </div>
                                        <div class="col-lg-9 col-sm-9 col-8">
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" data-value="{{ room_page.countof2star }}"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1 col-1">
                                          <div class="progress-value">{{ room_page.countof2star }}%</div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- ITEM -->
                                    <div class="progress-item">
                                      <div class="row">
                                        <div class="col-lg-2 col-sm-2 col-3">
                                          <div class="progress-stars">1 star</div>
                                        </div>
                                        <div class="col-lg-9 col-sm-9 col-8">
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" data-value="{{ room_page.countof1star }}"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1 col-1">
                                          <div class="progress-value">{{ room_page.countof1star }}%</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                    
                            </div>
                        </div>
                    </div>

                    <div id="comments">
                        <div class="section-title">
                          <h4>COMMENTS</h4>
                          <!-- <p class="section-subtitle">Leave your comment</p> -->
                        </div>   
                        
                        {% if user.is_authenticated %}
                        <form id="comment-form" action="{% url 'addcomment' room_page.id %}" method="post" class="comment-form">
                            {% csrf_token %}
                            <div class="d-flex justify-content-end">
                              <strong class="text-uppercase">Baholsh</strong>
                               <div class="stars">
                              
                                <input class="star star-5" id="star-5" value="5" type="radio" name="rate" /> <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" value="4" type="radio" name="rate" /> <label class="star star-4" for="star-4"></label> 
                                <input class="star star-3" id="star-3" value="3" type="radio" name="rate" /> <label class="star star-3" for="star-3"></label> 
                                <input class="star star-2" id="star-2" value="2" type="radio" name="rate" /> <label class="star star-2" for="star-2"></label> 
                                <input class="star star-1" id="star-1" value="1" type="radio" name="rate" /> <label class="star star-1" for="star-1"></label>

                               </div>
                            </div>

                          <div class="row">
                            <div class="col-md-12">
                              <textarea class="form-control" name="comment" placeholder="Write Your Comment"></textarea>
                            </div>
                            <div class="col-md-12">
                              <button class="btn float-right">
                                POST YOUR COMMENT
                              </button>
                              
                            </div>
                          </div>
                        </form>

                        {% else %}
                        <br>
                        <h5>Comment qoldirish ushin saytga  <a href="{% url 'register' %}" style="color: rgb(206, 209, 23);">Saytga Kirish</a>
                        <br>
                        {% endif %}
                            
                          
                        <ul id="comments-list" class="comments-list">
                         
                         {% for comment in comments %}
                                                        
                          <li>
                            <div class="review-box clearfix">
                                <figure class="review-author">
                                    <img src="
                                    {% if comment.user.avatar %}
                                        {{ comment.user.avatar.url }}
                                    {% endif %}
                                        " alt="Image">
                                </figure>
                                <div class="review-contentt">
                                    <div class="rating">
                                        <i class="fa fa-star voted{% if comment.rate < 1 %}-o empty{% endif %}" aria-hidden="true"></i>
                                        <i class="fa fa-star voted{% if comment.rate < 2 %}-o empty{% endif %}" aria-hidden="true"></i>
                                        <i class="fa fa-star voted{% if comment.rate < 3 %}-o empty{% endif %}" aria-hidden="true"></i>
                                        <i class="fa fa-star voted{% if comment.rate < 4 %}-o empty{% endif %}" aria-hidden="true"></i>
                                        <i class="fa fa-star voted{% if comment.rate < 5 %}-o empty{% endif %}" aria-hidden="true"></i>
                                    </div>
                                    <div class="review-info">
                                        {{ comment.user.username }} – {{ comment.created_at }} 
                                    </div>
                                    <div class="review-text">
                                        <p>
                                            {{ comment.comment }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                          </li>
                          {% endfor %}
                    
                         
                        </ul>

                        
                    </div>


                </div>
                <div class="similar-rooms">
                    <div class="section-title sm">
                        <h4>SIMILAR ROOMS</h4>
                        <p class="section-subtitle">Leave your review</p>
                    </div>
                    <div class="row">
                        
                        {% for room_pic in room_picked %}
                            
                        
                            
                            <div class="col-lg-4">
                                <div class="room-grid-item">
                                    <figure class="gradient-overlay-hover link-icon">
                                        <a href="{% url 'room_detail' room_pic.pk %}">
                                            <img src="{{ room_pic.image.url }}" class="img-fluid" alt="Image">
                                        </a>

                                        <div class="room-services">
                                                                                                                                
                                            {% for room_service in services %}
                                                {% if room_service.room_id == room_pic.pk %}
                                                    <i class="{{ room_service.icon }}"  data-toggle="popover" data-placement="right" data-trigger="hover" data-content="{{ room_service.description }}" data-original-title="{{ room_service.title }}"></i>
                                                {% endif %}
                                            {% endfor %}
                                        
                                        </div>

                                        <div class="room-price">€ {{ room_pic.price }} / night</div>
                                    </figure>
                                    <div class="room-info">
                                        <h2 class="room-title">
                                            <a href="room.html">{{ room_pic.title }}</a>
                                        </h2>
                                        <p>Enjoy our {{ room_pic.title }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12">
                <div class="sidebar">

                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <h3 class="form-title">BOOK YOUR ROOM</h3>
                            <div class="inner">
                                <form id="booking-form">

                                    <div class="form-group">
                                        <input class="form-control" name="booking-email" type="email"
                                            placeholder="Your Email Address">
                                    </div>

                                    <div class="form-group">
                                        <select class="form-control" name="booking-roomtype" title="Select Room Type"
                                            data-header="Room Type" disabled="disabled">
                                            <option value="Single" selected="selected">Single Room</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <div class="form_date">
                                            <input type="text" class="datepicker form-control" name="booking-checkin"
                                                placeholder="Slect Arrival & Departure Date" readonly="readonly">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="panel-dropdown">
                                            <div class="form-control guestspicker">Guests
                                                <span class="gueststotal"></span>
                                            </div>
                                            <div class="panel-dropdown-content">
                                                <div class="guests-buttons">
                                                    <label>Adults
                                                        <a href="#" title="" data-toggle="popover" data-placement="top"
                                                            data-trigger="hover" data-content="18+ years"
                                                            data-original-title="Adults">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <div class="guests-button">
                                                        <div class="minus"></div>
                                                        <input type="text" name="booking-adults" class="booking-guests"
                                                            value="0">
                                                        <div class="plus"></div>
                                                    </div>
                                                </div>
                                                <div class="guests-buttons">
                                                    <label>Cildren
                                                        <a href="#" title="" data-toggle="popover" data-placement="top"
                                                            data-trigger="hover" data-content="Under 18 years"
                                                            data-original-title="Children">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <div class="guests-button">
                                                        <div class="minus"></div>
                                                        <input type="text" name="booking-children"
                                                            class="booking-guests" value="0">
                                                        <div class="plus"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-dark btn-fw mt20 mb20">BOOK A ROOM</button>
                                </form>
                            </div>
                        </div>
                    </aside>

                    <!-- <aside class="widget widget-help">
                        <h4 class="widget-title">NEED HELP?</h4>
                        <div class="phone">
                            <a href="tel:18475555555">
                                +1 888 123 4567
                            </a>
                        </div>
                        <div class="email">
                            <a href="/cdn-cgi/l/email-protection#2e4d41405a4f4d5a6e46415a4b424647434f5c4f004d4143"><span
                                    class="__cf_email__"
                                    data-cfemail="781b17160c191b0c3810170c1d14101115190a19561b1715">[email&#160;protected]</span></a>
                        </div>
                    </aside> -->

                    <aside class="widget">
                        <h4 class="widget-title">Latest Posts</h4>
                        <div class="latest-posts">
                            
                            {% for blog in blogs %}
                                
                            
                                
                            <div class="latest-post-item">
                                <div class="row">
                                    <div class="col-5">
                                        <figure class="gradient-overlay-hover link-icon sm">
                                            <a href="{% url 'blog_detail' blog.pk %}">
                                                <img src="{{ blog.image.url }}" class="img-fluid" alt="Image">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-7">
                                        <div class="post-details">
                                            <h6 class="post-title">
                                                <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </aside>
<!-- 
                    <aside class="widget noborder">
                        <img src="images/banner.jpg" class="img-fluid" alt="Image">
                    </aside> -->

                    
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.querySelectorAll('[data-value]').forEach(e => {
        e.style.width = e.dataset.value + "%";
    });
</script>

{% endblock content %}