{% extends 'base.html' %}



{% block content %}

      <!-- ========== PAGE TITLE ========== -->
      <div class="page-title gradient-overlay op6" style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat;
    background-size: cover;">
        <div class="container">
          <div class="inner">
            <h1>ROOMS</h1>
            <ol class="breadcrumb">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>Rooms</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- ========== MAIN ========== -->
      <main class="rooms-list-view">
        <div class="container">


        
        {% for room in rooms %}
              
          <!-- ITEM -->
          <div class="room-list-item">
            <div class="row">
              <div class="col-lg-4">
                <figure class="gradient-overlay-hover link-icon">
                  <a href="{% url 'room_detail' room.pk %}"><img src="{{ room.image.url }}" class="img-fluid" alt="Image"></a>
                </figure>
              </div>
              <div class="col-lg-6">
                <div class="room-info">
                  <h3 class="room-title">
                    <a href="{% url 'room_detail' room.pk %}">{{ room.title }}</a>
                  </h3>

          
                  

                      
                      
                      <div class="review-contentt">
                        <div class=" room-rates">
                          <i class="fa fa-star{% if room.avaregereview < 1 and room.avaregereview > 0 %}-half-empty  {% elif room.avaregereview < 1 %}-o {% endif %}" aria-hidden="true"></i>
                          <i class="fa fa-star{% if room.avaregereview < 2 and room.avaregereview > 1 %}-half-empty  {% elif room.avaregereview < 2 %}-o {% endif %}" aria-hidden="true"></i>
                          <i class="fa fa-star{% if room.avaregereview < 3 and room.avaregereview > 2 %}-half-empty  {% elif room.avaregereview < 3 %}-o {% endif %}" aria-hidden="true"></i>
                          <i class="fa fa-star{% if room.avaregereview < 4 and room.avaregereview > 3 %}-half-empty  {% elif room.avaregereview < 4 %}-o {% endif %}" aria-hidden="true"></i>
                          <i class="fa fa-star{% if room.avaregereview < 5 and room.avaregereview > 4 %}-half-empty  {% elif room.avaregereview < 5 %}-o {% endif %}" aria-hidden="true"></i> 
                          <a>{{ room.countreview}} Based on {{ room.avaregereview}} Ratings</a>
                        </div>
                      </div>
                      
          

        
                  <p>{{ room.description }}

                    
                  </p>
                  <div class="room-services">

                    {% for service in room_services %}

                          {% if service.room_id == room.pk %}  
                           <i class="{{ service.icon }}" aria-hidden="true" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="{{ service.description }}" data-original-title="{{ service.title }}"></i>
                          {% endif %}
                            
                       
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="room-price">
                  <span class="price">$ {{ room.price }} / night</span>
                  <a href="{% url 'room_detail' room.pk %}" class="btn btn-sm">VIEW DETAILS</a>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}


          <!-- PAGINATION -->
          <nav class="pagination">
            {% if rooms.has_other_pages %}
              <ul>

                {% if rooms.has_previous %}

                <li class="prev-pagination">
                  <a href="?page={{ rooms.previous_page_number }}">
                    &nbsp;<i class="fa fa-angle-left"></i>
                    Previous &nbsp;</a>
                </li>

                {% else %}


                <li class="prev-pagination d-none">
                  <a href="#">
                    &nbsp;<i class="fa fa-angle-left"></i>
                    Previous &nbsp;</a>
                </li>

                {% endif %}

                {% for i in rooms.paginator.page_range %}
                  {% if rooms.number == i %}

                    <li class="active">
                      <a href="#">{{ i }}</a>
                    </li>

                  {% else %}

                    <li class="">
                      <a href="?page={{i}}">{{ i }}</a>
                    </li>
                  {% endif %}

                {% endfor %}

                {% if rooms.has_next %}
                  <li class="next_pagination">
                    <a href="?page={{ rooms.next_page_number }}">
                      &nbsp; Next
                      <i class="fa fa-angle-right"></i>
                      &nbsp;
                    </a>
                  </li>

                {% else %}

                  <li class="next_pagination d-none">
                    <a href="#">
                      &nbsp; Next
                      <i class="fa fa-angle-right"></i>
                      &nbsp;
                    </a>
                  </li>

                {% endif %}
              </ul>

            {% endif %}
          </nav>
        </div>
      </main>

    
{% endblock content %}
    