{% extends 'base.html' %}




{% block content %}

  <!-- BLOG POST COVER -->
  <div class="blog-post-cover gradient-overlay op5" data-src="{{ blog.image.url }}" data-parallax="scroll" data-speed="0.3" data-mirror-selector=".wrapper" data-z-index="0">
    <div class="container inner">
      <h2 class="blog-post-title">{{ blog.title }}</h2>
      <div class="blog-post-info">
        <!-- <img alt="" src="images/blog/users/user1.jpg" class="author-avatar" width="16"> -->
        <p>by
          <span>
            <a href="#">{{ blog.author }}</a></span></p>
        <p>on
          <time datetime="2017-09-27T06:52:20+00:00">{{ blog.create_at }}</time>
        </p>
      </div>
    </div>
  </div>
  <!-- ========== MAIN ========== -->
  <main class="post-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-12">
          <article class="entry">
            <div class="details">
              <p class="dropcap">{{ blog.text | safe }}</p>
             
              
              <div class="meta-post">
                <div class="tags">
                  <span>
                    <i class="fa fa-tags"></i>
                    TAGS</span>
                    
                    <!-- {% for tag in tags %}
                      <a href="#" rel="tag">{{ tag.title }}</a>
                    {% endfor %} -->
                      
                 

                </div>
                <div class="share">
                  <span>
                    <i class="fa fa-share-alt"></i>
                    SHARE</span>
                  <div class="social-media">
                    <a class="facebook" href="#" data-toggle="tooltip" data-original-title="Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a class="twitter" href="#" data-toggle="tooltip" data-original-title="Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a class="googleplus" href="#" data-toggle="tooltip" data-original-title="Google Plus">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="pinterest" href="#" data-toggle="tooltip" data-original-title="Pinterest">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <div id="comments">
            <div class="section-title">
              <h4>COMMENTS</h4>
              <p class="section-subtitle">Leave your comment</p>
            </div>
            <ul id="comments-list" class="comments-list">
              <li>
                <div class="comment-main-level">
                  <div class="comment-avatar"><img src="images/blog/users/user1.jpg" alt=""></div>
                  <div class="comment-box">
                    <div class="comment_content">
                      <h4 class="author-name">
                        <a href="#">JANE Doe</a>
                      </h4>
                      <a href="#comment-form" class="reply_link">Reply</a>
                      <span class="comment_info">
                        <i class="fa fa-clock-o"></i>
                        <a href="#">
                          <time datetime="2017-10-01T19:56:36+00:00">October 1, 2017 at 7:56 pm</time>
                        </a>
                      </span>
                      <div class="comment_said_text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="comments-list reply-list">
                  <li>
                    <div class="comment-avatar"><img src="images/blog/users/user2.jpg" alt=""></div>
                    <div class="comment-box">
                      <div class="comment_content">
                        <h4 class="author-name">
                          <a href="#">
                            Ina Aldrich</a>
                        </h4>
                        <a href="#comment-form" class="reply_link">Edit</a>
                        <span class="comment_info">
                          <i class="fa fa-clock-o"></i>
                          <a href="#">
                            <time datetime="2017-10-01T19:56:36+00:00">October 1, 2017 at 7:56 pm</time>
                          </a>
                        </span>
                        <div class="comment_said_text">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat, euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="comment-avatar">
                      <img src="images/blog/users/user3.jpg" alt="">
                    </div>
                    <div class="comment-box">
                      <div class="comment_content">
                        <h4 class="author-name">
                          <a href="#">William Whiten</a>
                        </h4>
                        <a href="#comment-form" class="reply_link">Reply</a>
                        <span class="comment_info">
                          <i class="fa fa-clock-o"></i>
                          <a href="#">
                            <time datetime="2017-10-01T19:56:36+00:00">October 1, 2017 at 7:56 pm</time>
                          </a>
                        </span>
                        <div class="comment_said_text">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="comment-main-level">
                  <div class="comment-avatar">
                    <img src="images/blog/users/user4.jpg" alt="">
                  </div>
                  <div class="comment-box">
                    <div class="comment_content">
                      <h4 class="author-name">
                        <a href="#">Amy Ellison</a>
                      </h4>
                      <a href="#comment-form" class="reply_link">Reply</a>
                      <span class="comment_info">
                        <i class="fa fa-clock-o"></i>
                        <a href="#">
                          <time datetime="2017-10-01T19:56:36+00:00">October 1, 2017 at 7:56 pm</time>
                        </a>
                      </span>
                      <div class="comment_said_text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="section-title mt100">
              <h4>LEAVE YOUR COMMENT</h4>
              <p class="section-subtitle">Write your comment</p>
            </div>
            <form id="comment-form" class="comment-form">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Name*">
                </div>
                <div class="col-md-4">
                  <input type="email" class="form-control" placeholder="Email*">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Website">
                </div>
                <div class="col-md-12">
                  <textarea class="form-control" placeholder="Write Your Comment"></textarea>
                </div>
                <div class="col-md-12">
                  <button class="btn float-right">
                    POST YOUR COMMENT
                  </button>
                  <div class="align-left">*Your email address will not be published.</div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- SIDEBAR -->
        {% include 'blog/inc/sidebar.html' %}
      </div>
    </div>
  </main>
  <!-- END BLOG LIST -->
  
{% endblock content %}
  