{% extends 'base.html' %}




{% block content %}

<!-- BLOG POST COVER -->
<div class="blog-post-cover gradient-overlay op5" data-src="{{ blog.image.url }}" data-parallax="scroll"
  data-speed="0.3" data-mirror-selector=".wrapper" data-z-index="0">
  <div class="container inner">
    <h2 class="blog-post-title">{{ blog.title }}</h2>
    <div class="blog-post-info">
      <img alt="" src="{{ user.avatar.url }}" class="author-avatar" width="16">
      <p>by
        <span>
          <a href="#">{{ blog.author }}</a></span></p>
      <p>on
        <time datetime="2017-09-27T06:52:20+00:00">{{ blog.create_at }}</time>
      </p>
    </div>
  </div>
</div>
<!-- ========== MAIN ========== -->
<main class="post-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12">
        <article class="entry">
          <div class="details">
            <p class="dropcap">{{ blog.text | safe }}</p>


            <div class="meta-post">
              <div class="tags">
                <span>
                  <i class="fa fa-tags"></i>
                  TAGS</span>

                <!-- {% for tag in tags %}
                      <a href="#" rel="tag">{{ tag.title }}</a>
                    {% endfor %} -->



              </div>
              <div class="share">
                <span>
                  <i class="fa fa-share-alt"></i>
                  SHARE</span>
                <div class="social-media">
                  <a class="facebook" href="#" data-toggle="tooltip" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a class="twitter" href="#" data-toggle="tooltip" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a class="googleplus" href="#" data-toggle="tooltip" data-original-title="Google Plus">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a class="pinterest" href="#" data-toggle="tooltip" data-original-title="Pinterest">
                    <i class="fa fa-pinterest"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </article>
        <div id="comments">
          <div class="section-title">
            <h4>COMMENTS</h4>
            <p class="section-subtitle">Leave your comment</p>
          </div>
          <ul id="comments-list" class="comments-list">


            {% for comment in comment_blog %}
            <li>
              <div class="comment-main-level">
                <div class="comment-avatar"><img
                    src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile.png"
                    alt=""></div>
                <div class="comment-box">
                  <div class="comment_content">
                    <h4 class="author-name">
                      <a href="#">{{ comment.name }}</a>
                    </h4>

                    <span class="comment_info">
                      <i class="fa fa-clock-o"></i>
                      <a href="#">
                        <time datetime="2017-10-01T19:56:36+00:00">{{ comment.create_at }}</time>
                      </a>
                    </span>
                    <div class="comment_said_text">
                      <p>{{ comment.comment }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}



          </ul>
          <div class="section-title mt100">
            <h4>LEAVE YOUR COMMENT</h4>
            <p class="section-subtitle">Write your comment</p>
          </div>
          <form id="comment-form" action="{% url 'comment_blog' blog.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-4">
                <input type="text" name="name" class="form-control" placeholder="Name*">
              </div>
              <div class="col-md-4">
                <input type="number" name="phone" class="form-control" placeholder="Phone*">
              </div>
              <div class="col-md-4">
                <input type="text" name="email" class="form-control" placeholder="Email">
              </div>
              <div class="col-md-12">
                <textarea class="form-control" name="comment" placeholder="Write Your Comment"></textarea>
              </div>
              <div class="col-md-12">
                <button class="btn float-right">
                  POST YOUR COMMENT
                </button>
                <div class="align-left">*Your email address and Phone will not be published.</div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- SIDEBAR -->
      {% include 'blog/inc/sidebar.html' %}
    </div>
  </div>
</main>
<!-- END BLOG LIST -->

{% endblock content %}