{% load static %}
<footer>
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <!-- WIDGET -->
          <div class="col-md-3">
            <div class="footer-widget">
              <img src="{% static '/' %}images/logo.svg" class="footer-logo" alt="Hotel Himara">
              <div class="inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, velit placeat assumenda incidunt dolorem aliquam!</p>
                <a href="https://www.tripadvisor.com/" target="_blank">
                  <div class="tripadvisor-banner">
                    <span class="review">Recommended</span>
                    <img src="{% static '/' %}images/icons/tripadvisor.png" alt="Image">
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- WIDGET -->
          <div class="col-md-3">
            <div class="footer-widget">
              <h3>LATEST NEWS</h3>
              <div class="inner">
                <ul class="latest-posts">
                  <li>
                    <a href="blog-post.html">10 Tips for holiday travel</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Are you ready to enjoy your holidays</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Honeymoon at Hotel Himara</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Travel gift ideas for every type of traveler</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Breakfast with coffee and orange juice</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- WIDGET -->
          <div class="col-md-3">
            <div class="footer-widget">
              <h3>USEFUL LINKS</h3>
              <div class="inner">
                <ul class="useful-links">
                  <li>
                    <a href="about-us.html">About Us</a>
                  </li>
                  <li>
                    <a href="contact.html">Contact Us</a>
                  </li>
                  <li>
                    <a href="shop.html">Shop</a>
                  </li>
                  <li>
                    <a href="gallery.html">Himara Gallery</a>
                  </li>
                  <li>
                    <a href="location.html">Our Location</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- WIDGET -->
          <div class="col-md-3">
            <div class="footer-widget">
              <h3>Contact Info</h3>
              <div class="inner">
                <ul class="contact-details">
                  <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Lorem ipsum dolor, 25, Himara</li>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    Phone: +1 888 123 4567
                  </li>
                  <li>
                    <i class="fa fa-fax"></i>
                    Fax: +1 888 123 4567</li>
                  <li>
                    <i class="fa fa-globe"></i>
                    Web: www.hotelhimara.com</li>
                  <li>
                    <i class="fa fa-envelope"></i>
                    Email:
                    <a href="mailto:info@site.com">contact@hotelhimara.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SUBFOOTER -->
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="copyrights">&copy; 2018 Hotel Himara. Designed by
              <a href="https://eagle-themes.com/" target="_blank">Eagle-Themes</a>.</div>
          </div>
          <div class="col-md-6">
            <div class="social-media">
              <a class="facebook" data-original-title="Facebook" data-toggle="tooltip" href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="twitter" data-original-title="Twitter" data-toggle="tooltip" href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="googleplus" data-original-title="Google Plus" data-toggle="tooltip" href="#">
                <i class="fa fa-google-plus"></i>
              </a>
              <a class="pinterest" data-original-title="Pinterest" data-toggle="tooltip" href="#">
                <i class="fa fa-pinterest"></i>
              </a>
              <a class="linkedin" data-original-title="Linkedin" data-toggle="tooltip" href="#">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="youtube" data-original-title="Youtube" data-toggle="tooltip" href="#">
                <i class="fa fa-youtube"></i>
              </a>
              <a class="instagram" data-original-title="Instagram" data-toggle="tooltip" href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>