{% load static %}

{% load topheader_tag %}

{% get_informations as informations %}



{% for info in informations %}

<footer>
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <!-- WIDGET -->
          <div class="col-md-3">
            <div class="footer-widget">
              <img src="{% static '/' %}images/logo.svg" class="footer-logo" alt="Hotel Himara">

            </div>
          </div>
          <!-- WIDGET -->
          <div class="col-md-3">
            <div class="footer-widget">
              <h3>LATEST NEWS</h3>
              <div class="inner">
                <ul class="latest-posts">
                  <li>
                    <a href="blog-post.html">10 Tips for holiday travel</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Are you ready to enjoy your holidays</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Honeymoon at Hotel Himara</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Travel gift ideas for every type of traveler</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Breakfast with coffee and orange juice</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- WIDGET -->
          <div class="col-md-3">
            <div class="footer-widget">
              <h3>USEFUL LINKS</h3>
              <div class="inner">
                <ul class="useful-links">
                  <li>
                    <a href="about-us.html">About Us</a>
                  </li>
                  <li>
                    <a href="contact.html">Contact Us</a>
                  </li>
                  <li>
                    <a href="shop.html">Shop</a>
                  </li>
                  <li>
                    <a href="gallery.html">Himara Gallery</a>
                  </li>
                  <li>
                    <a href="location.html">Our Location</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- WIDGET -->
          <div class="col-md-3">
            <div class="footer-widget">
              <h3>Contact Info</h3>
              <div class="inner">
                <ul class="contact-details">
                  <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Lorem ipsum dolor, 25, Himara</li>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    Phone: {{ info.phone }}
                  </li>
                  <li>
                    <i class="fa fa-fax"></i>
                    Fax: {{ info.fax }}</li>
                  <li>
                    <i class="fa fa-globe"></i>
                    Web: www.hotel-np.com</li>
                  <li>
                    <i class="fa fa-envelope"></i>
                    Email:
                    <a href="mailto:{{ info.email }}">{{ info.email }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SUBFOOTER -->
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="copyrights">&copy; 2022 Hotel NP.  by 
              <a href="#" target="_blank">Nurpolat</a>.</div>
          </div>
          <div class="col-md-6">
            <div class="social-media">
              <a class="facebook" data-original-title="Facebook" data-toggle="tooltip" href="
              {% if info.facebook %}
                  {{ info.facebook }}
              {% endif %}
                #">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="twitter" data-original-title="Twitter" data-toggle="tooltip" href="
              {% if info.twitter %}
                  {{ info.twitter }}
              {% endif %}
                #">
                <i class="fa fa-twitter"></i>
              </a>

              <a class="linkedin" data-original-title="Linkedin" data-toggle="tooltip" href="
              {% if info.linkedin %}
                  {{ info.linkedin }}
              {% endif %}
                #">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="youtube" data-original-title="Youtube" data-toggle="tooltip" href="
              {% if info.youtube %}
                  {{ info.youtube }}
              {% endif %}
                #">
                <i class="fa fa-youtube"></i>
              </a>
              <a class="instagram" data-original-title="Instagram" data-toggle="tooltip" href="
              
              {% if info.instagram %}
                  {{ info.instagram }}
              {% endif %}
                #
              ">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  

    
{% endfor %}
    