{% load static %}
<div class="topbar">
    <div class="container">
      <div class="welcome-mssg">
        Welcome to Hotel Himara.
      </div>
      <div class="top-right-menu">
        <ul class="top-menu">
          <li class="d-none d-md-inline">
            <a href="tel:+18881234567">
              <i class="fa fa-phone"></i>+1 888 123 4567
            </a>
          </li>
          <li class="d-none d-md-inline">
            <a href="mailto:contact@hotelhimara.com">
              <i class="fa fa-envelope-o "></i>contact@hotelhimara.com</a>
          </li>
          <li class="language-menu">
            <a href="#" class="active-language"><img src="{% static '/' %}images/icons/flags/gb.png" alt="Image">English</a>
            <ul class="languages">
              <li class="language">
                <a href="#"><img src="{% static '/' %}images/icons/flags/it.png" alt="Image">Italiano</a>
              </li>
              <li class="language">
                <a href="#"><img src="{% static '/' %}images/icons/flags/gr.png" alt="Image">Ελληνικα</a>
              </li>
              <li class="language">
                <a href="#"><img src="{% static '/' %}images/icons/flags/al.png" alt="Image">Shqip</a>
              </li>
              <li class="language">
                <a href="#"><img src="{% static '/' %}images/icons/flags/fr.png" alt="Image">Français</a>
              </li>
              <li class="language">
                <a href="#"><img src="{% static '/' %}images/icons/flags/es.png" alt="Image">Español</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>