{% extends 'admin.html' %}
{% load static %}




{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-md-4">
                        <div class="mt-3 mt-md-0">
                            <a href="{% url 'our_staff_create' %}"  class="btn btn-success waves-effect waves-light"><i class="mdi mdi-plus-circle me-1"></i> Add Staff</a>
                        </div>
                    </div><!-- end col-->
                    
                </div> <!-- end row -->
            </div>
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row -->        
<div class="row">

    
    {% for item in our_staff %}

    
        
    
        
        <div class="col-xl-4">
            <div class="card">
                <div class="text-center card-body">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded  img-thumbnail mb-2" alt="profile-image">

                        <p class="text-muted font-13 mb-3">
                            {{ item.description }}
                        </p>

                        <div class="text-start">
                            <p class="text-muted font-13"><strong>Name :</strong> <span class="ms-2">{{ item.name }} {{ item.surename }}</span></p>

                            <p class="text-muted font-13"><strong>Phone :</strong><span class="ms-2">{{ item.phone }}</span></p>

                            <p class="text-muted font-13"><strong>Profession :</strong> <span class="ms-2">{{ item.profession }}</span></p>

                            <p class="text-muted font-13"><strong>Status :</strong> <span class="ms-2">
                                {% if item.status == 'True' %}
                                    <i class="fe-check-circle"></i>
                                {% else %}
                                    <i class="fe-slash"></i>
                                {% endif %}
                            </span></p>
                        </div>

                        
                        <div class="footer-action-btn">
                            <div class="btn-group btn-group-sm" style="float: none;"><a href="{% url 'our_staff' %}" class="btn btn-info" style="float: none;"><span class="fe-eye"></span></a></div>
                            <div class="btn-group btn-group-sm" style="float: none;"><a href="{% url 'our_staff_edit' item.pk %}" class="btn btn-warning" style="float: none;"><span class="fe-edit-2"></span></a></div>
                            <div class="btn-group btn-group-sm"  style="float: none;"><a href="{% url 'our_staff_delate' item.pk %}" class="btn btn-danger"   style="float: none;"><span class="fe-trash-2"></span></a></div>
                        </div>

                        
                    </div>
                </div>
            </div>
            

        </div> <!-- end col -->


    {% endfor %}

</div>
<!-- end row -->

    
{% endblock content %}
    